<div>
  Name:
  <input type="text" [formControl]="name">
</div>

<p>
  Value: {{ name.value }}
</p>

<p>
  <button (click)="updateName()">Update Name</button>
</p>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
  
  <div>
    First Name:
    <input type="text" formControlName="firstName">
    <div *ngIf="profileForm.controls['firstName'].dirty && profileForm.controls['firstName'].invalid">
      First Name is required
    </div>
  </div>

  <div>
    Last Name:
    <input type="text" formControlName="lastName">
    <div *ngIf="profileForm.controls['lastName'].dirty && profileForm.controls['lastName'].invalid">
      Last Name is required
    </div>
  </div>

  <p>
    First Name: {{ profileForm.controls['firstName'].value }}
  </p>
  <p>
    Last Name: {{ profileForm.controls['lastName'].value }}
  </p>

  <button type="submit">Submit</button>

  <p>
    Form Status: {{ profileForm.status }}
  </p>
</form>

<form [formGroup]="addressForm" (ngSubmit)="onSubmit(addressForm)">
  
  <div>
    Street:
    <input type="text" formControlName="street">
    <div *ngIf="addressForm.controls['street'].dirty && addressForm.controls['street'].invalid">
      Street is required
    </div>
  </div>

  <div>
    City:
    <input type="text" formControlName="city">
    <div *ngIf="addressForm.controls['city'].dirty && addressForm.controls['city'].invalid">
      City is required
    </div>
  </div>
  
  <div>
    State:
    <input type="text" formControlName="state">
    <div *ngIf="addressForm.controls['state'].dirty && addressForm.controls['state'].invalid">
      Street is required
    </div>
  </div>

  <div>
    Zip:
    <input type="text" formControlName="zip">
    <div *ngIf="addressForm.controls['zip'].dirty && addressForm.controls['zip'].invalid">
      Zip is required
    </div>
  </div>

  <div>
    Country:
    <input type="text" formControlName="country">
    <div *ngIf="addressForm.controls['country'].dirty && addressForm.controls['country'].invalid">
      Country is required
    </div>
  </div>

  <p>
    Street: {{ addressForm.controls['street'].value }}
  </p>
  <p>
    City: {{ addressForm.controls['city'].value }}
  </p>
  <p>
    State: {{ addressForm.controls['state'].value }}
  </p>
  <p>
    Zip: {{ addressForm.controls['zip'].value }}
  </p>
  <p>
    Country: {{ addressForm.controls['country'].value }}
  </p>

  <button type="submit">Submit</button>

  
  <p>
    Form Status: {{ addressForm.status }}
  </p>
</form>

