<div>
  Name:
  <input type="text" [formControl]="name">
</div>

<p>
  Value: {{ name.value }}
</p>

<p>
  <button (click)="updateName()">Update Name</button>
</p>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
  
  <div>
    Email Address:
    <input type="text" formControlName="emailAddress">
    <div *ngIf="isFormFieldValid(profileForm, 'emailAddress')">
      Email Address is required
    </div>
  </div>
  
  <div>
    First Name:
    <input type="text" formControlName="firstName">
    <div *ngIf="isFormFieldValid(profileForm, 'firstName')">
      First Name is required
    </div>
  </div>

  <div>
    Last Name:
    <input type="text" formControlName="lastName">
    <div *ngIf="isFormFieldValid(profileForm, 'lastName')">
      Last Name is required
    </div>
  </div>

  <button type="submit">Submit</button>
</form>

<form [formGroup]="addressForm" (ngSubmit)="onSubmit(addressForm)">
  
  <div>
    Street:
    <input type="text" formControlName="street">
    <div *ngIf="isFormFieldValid(addressForm, 'street')">
      Street is required
    </div>
  </div>

  <div>
    City:
    <input type="text" formControlName="city">
    <div *ngIf="isFormFieldValid(addressForm, 'city')">
      City is required
    </div>
  </div>
  
  <div>
    State:
    <input type="text" formControlName="state">
    <div *ngIf="isFormFieldValid(addressForm, 'state')">
      Street is required
    </div>
  </div>

  <div>
    Zip:
    <input type="text" formControlName="zip">
    <div *ngIf="isFormFieldValid(addressForm, 'zip')">
      Zip is required
    </div>
  </div>

  <div>
    Country:
    <input type="text" formControlName="country">
    <div *ngIf="isFormFieldValid(addressForm, 'country')">
      Country is required
    </div>
  </div>

  <button type="submit">Submit</button>

</form>

